body {
    background-color: beige;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman';
}  
#header {
    background-color:rgb(239, 138, 99);
    border: 2px solid rgb(239, 138, 99);
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
#nav {
    background-color: khaki;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
a:hover {
    color: red;
  }
d {
    padding: 15px;
}
#nav2 {
    background-color: rgb(255, 239, 182);
    width: 10%;
    float:left;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 100px;
}
#section {
    background-color: rgb(249, 241, 212);
    width: 90%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    float: right;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 10px;
}
#footer {
    background-color: rgb(239, 138, 99);
    position:inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
pad {
    padding: 10px;
}
nakki {
    background-color: rgb(249, 241, 212);
}